body {
    font-family: 'Kanit';
    font-size: large;
    background-image: linear-gradient(rgb(12, 119, 177), rgb(177, 37, 12));
}
.h1 {
    font-family: 'script';
    font-size: 100px;
    font-style: normal;
    text-align: center;
    color: rgb(177, 37, 12);
    text-shadow: -2px 2px 0 rgb(255, 132, 0);
}
.h2 {
    font-family: 'sharpie';
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: rgb(177, 37, 12);
    text-shadow: -2px 2px 0 rgb(12, 119, 177);
}
.h3 {
    font-family: 'sharpie';
    font-size: 60px;
    font-style: normal;
    text-align: center;
    color: rgb(255, 132, 0);
    text-shadow: -2px 2px 0 rgb(12, 119, 177);
}
.h4 {
    font-family: 'sharpie';
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: rgb(255, 132, 0);
    text-shadow: -2px 2px 0 rgb(12, 119, 177);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 132, 0);;
    font-family: 'Kanit';
    font-style: medium;
    color: rgb(177, 37, 12);
    font-variant: normal;
    text-align: center;
    margin-top: 0;
    height: auto;
    width: 100%;
}
.first-container {
    border-style: inset;
    border-width: 5px;
    border-color: rgb(177, 37, 12);
    padding: 10px;
    background :rgb(255, 132, 0);
    height: 75%;
    width: 75%;
    margin: auto;
}
.menu{
    display: inline-block;
    margin: auto;
    min-width: 10em;
    text-align: center;
    background-color: rgb(255, 132, 0);
    padding: 0.5em 0;
}
.menu a {
    color: rgb(177, 37, 12);
    text-decoration: none;
}
.menu:hover {
    background-color:rgb(12, 119, 177);
}
.menu a:hover {
    color:rgb(255, 132, 0);
}
.dropdown {
    display: inline-block;
    margin: 0 0;
    min-width: 12em;
    text-align: center;
    background-color: rgb(255, 132, 0);
    padding: 0.5em 0;
}
.dropdown a {
    color: rgb(177, 37, 12);
    text-decoration: none;
}
.dropdown:hover {
    background-color: rgb(12, 119, 177);
}
.dropdown a:hover {
    color:rgb(255, 132, 0);
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 132, 0);
    margin-top: 0;
    color: rgb(255, 132, 0);;
    background-color: rgb(177, 37, 12);
    z-index: 1;
}
.dropdown-content a {
    color: rgb(255, 132, 0);;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-info {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    min-width: 12em;
}
.dropdown-info:hover, .dropdown-info:hover a {
    color: rgb(177, 37, 12);
    background-color: rgb(255, 132, 0);;
}

.opener{
    color: rgb(177, 37, 12);
    text-shadow: -1px 1px 0 rgb(255, 132, 0);
    font-size: 30px;
    text-indent: 5px;
    text-align: center;
}
.mainparagraphs{
    color: rgb(44, 0, 19);
    text-shadow: -1px 1px 0 rgb(255, 132, 0);
    font-size: 20px;
    text-indent: 5px;
}
.Delicatepngimage{
    float:center;
    margin: auto;
    content:url("../Images/The\ real\ Delicate\ Arch.png"); 
    padding-top: 1em;
    padding-bottom: 1em;
}
@media only screen and (min-width: 600px) {
    .Delicatepngimage{
        max-width: 30%;
        float:center;
        margin: auto;
        content:url("../Images/The\ real\ Delicate\ Arch.png");
    }
}
.UTparksimage{
    float:center;
    margin: auto;
    content:url("../Images/UT\ National\ Parks.png"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 30%;
    max-height: 30%;
    object-fit: contain;
}
@media only screen and (min-width: 600px) {
    .UTparkspngimage{
        max-width: 30%;
        max-height: 30%;
        object-fit: contain;
        content:url("../Images/UT\ National\ Parks.png");
    }
}
.Archesmapimage{
    float:center;
    margin: auto;
    content:url("../Images/archmap.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 30%;
    max-height: 30%;
}
@media only screen and (min-width: 600px) {
    .Archesmapimage{
        max-width: 30%;
        max-height: 30%;
        float:center;
        margin: auto;
        content:url("../Images/archmap.jpg");
    }
}
.Brycecanyonimage{
    float:center;
    margin: auto;
    content:url("../Images/NPS_bryce-canyon-map.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 30%;
    max-height: 30%;
}
@media only screen and (min-width: 600px) {
    .Bryceconyonimage{
        max-width: 30%;
        max-height: 30%;
        float:center;
        margin: auto;
        content:url("../Images/NPS_bryce-canyon-map.jpg");
    }
}
.Canyonlandsimage{
    float:center;
    margin: auto;
    content:url("../Images/canyonlands.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 30%;
    max-height: 30%;
}
@media only screen and (min-width: 600px) {
    .Canyonlandsimage{
        max-width: 30%;
        max-height: 30%;
        float:center;
        margin: auto;
        content:url("../Images/canyonlands.jpg");
    }
}
.Capitolreefimage{
    float:center;
    margin: auto;
    content:url("../Images/Map_of_Capitol_Reef_National_Park.png"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 30%;
    max-height: 30%;
}
@media only screen and (min-width: 600px) {
    .Capitolreefimage{
        max-width: 30%;
        max-height: 30%;
        float:center;
        margin: auto;
        content:url("../Images/Map_of_Capitol_Reef_National_Park.png");
    }
}
.Zionimage{
    float:center;
    margin: auto;
    content:url("../Images/ZIONmap1.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 50%;
    max-height: 50%;
}
@media only screen and (min-width: 600px) {
    .Zionimage{
        max-width: 50%;
        max-height: 50%;
        float:center;
        margin: auto;
        content:url("../Images/ZIONmap1.jpg");
    }
}
.Archesimage{
    float:right;
    margin: auto;
    content:url("../Images/arches-national-park_delicate-arch-winter.jpg");
    padding-left: 1em; 
}
@media only screen and (min-width: 600px) {
    .Archesimage{
        max-width: 50%;
        float:right;
        margin: auto;
        content:url("../Images/arches-national-park_delicate-arch-winter.jpg");
    }
}
.Turretimage{
    float:left;
    margin: auto;
    content:url("../Images/TurretArch\ and\ the\ La\ Sals.jpg"); 
    padding-right: 1em;
}
@media only screen and (min-width: 600px) {
    .Turretimage{
        max-width:50%;
        float:left;
        margin: auto;
        content:url("../Images/TurretArch\ and\ the\ La\ Sals.jpg");
    }
}
.Delicateimage{
    float:center;
    margin: auto;
    content:url("../Images/arches-hero.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
}
@media only screen and (min-width: 600px) {
    .Delicateimage{
        max-width: 100%;
        float:left;
        margin: auto;
        content:url("../Images/arches-hero.jpg");
    }
}
.Archespanoimage{
    float:center;
    margin: auto;
    content:url("../Images/Arches-FieryFurnace-pano.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
}
@media only screen and (min-width: 600px) {
    .Archespanoimage{
        max-width: 100%;
        float:left;
        margin: auto;
        content:url("../Images/Arches-FieryFurnace-pano.jpg");
    }
}
.Brycepanoimage{
    float:right;
    margin: auto;
    content:url("../Images/BryceCanyonsunrise.jpg"); 
    padding-left: 1em;
}
@media only screen and (min-width: 600px) {
    .Brycepanoimage{
        max-width: 50%;
        float:right;
        margin: auto;
        content:url("../Images/BryceCanyonsunrise.jpg");
    }
}
.BCsunriseimage{
    float:center;
    margin: auto;
    content:url("../Images/Bryce-Canyon-sunrise-snow-glow-HD-photography1.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
}
@media only screen and (min-width: 600px) {
    .BCsunriseimage{
        max-width: 100%;
        float:left;
        margin: auto;
        content:url("../Images/Bryce-Canyon-sunrise-snow-glow-HD-photography1.jpg");
    }
}
.wallstreetimage{
    float: left;
    margin: auto;
    content:url("../Images/bryce-canyon-national-park-wall-street-utah-brian-harig.jpg"); 
    padding-right: 1em;
}
@media only screen and (min-width: 600px) {
    .wallstreetimage{
        max-width: 50%;
        float:left;
        margin: auto;
        content:url("../Images/bryce-canyon-national-park-wall-street-utah-brian-harig.jpg");
    }
}
.Bridgeimage{
    float:right;
    margin: auto;
    content:url("../Images/1280px-Natural_bridge_in_Bryce_Canyon.jpg"); 
    padding-left: 1em;
}
@media only screen and (min-width: 600px) {
    .Bridgeimage{
        max-width: 50%;
        float:right;
        margin: auto;
        content:url("../Images/1280px-Natural_bridge_in_Bryce_Canyon.jpg");
    }
}
.BC100image{
    float:center;
    margin: auto;
    content:url("../Images/BC100.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
}
@media only screen and (min-width: 600px) {
    .BC100image{
        max-width: 30%;
        float: center;
        margin: auto;
        content:url("../Images/BC100.jpg");
    }
}
.BCpanoimage{
    float:center;
    margin: auto;
    content:url("../Images/BCpano.jpg"); 
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    max-height: 50%;
}
@media only screen and (min-width: 600px) {
    .BCpanoimage{
        max-width: 100%;
        max-height: 50%;
        float:center;
        margin: auto;
        content:url("../Images/BCpano.jpg");
    }
}
[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.footer {
    font-family: 'sharpie';
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color:rgb(112, 0, 46);
    text-shadow: -1px 1px 0 rgb(237, 139, 0);
    background-color: rgb(165, 172, 175);
    border-style: double;
    border-width: 12px;
    border-color: rgb(112, 0, 46);
    padding: auto;
    width: 75%;
    margin: auto;
}