@font-face {
    font-family:'Merriweather-Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
    font-style: 'bold';
}
@font-face {
    font-family:'Merriweather-BlackItalic';
    src: url('../fonts/Merriweather-BlackItalic.ttf') format('truetype');
    font-style: 'italic';
}
@font-face {
    font-family:'Merriweather-Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-style: 'bold';
}
@font-face {
    font-family:'MerriweatherBoldItalic';
    src: url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
    font-style: 'italic';
}
@font-face {
    font-family:'Merriweather-Italic';
    src: url('../fonts/Merriweather-Italic.ttf') format('truetype');
    font-style: 'italic';
}
@font-face {
    font-family:'Merriweather-Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
    font-style: 'light';
}
@font-face {
    font-family:'Merriweather-LightItalic';
    src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
    font-style: 'italic';
}
@font-face {
    font-family:'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-style: 'normal';
}
@font-face {
    font-family:'Agbalumo';
    src: url('../fonts/Agbalumo-Regular.ttf') format('truetype');
    font-style: 'italic';
}