div {
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    margin: 15px;
}
.title {
    font-family: 'Agbalumo';
    font-size: 80px;
    font-style: italic;
    height: 100px;
    text-align: center;
}
